*{
    margin: 0;
    padding: 0;
}
body {
   margin:20px; 
   background-color: rgb(29, 28, 28); 
   text-align:center;
   }
.birthdaycard{
  width: 1050px;
  height: 1000px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  transition: 1s;
}
.birthdaycard:hover .outside {
  transform: rotateY(-180deg);
}
.outside,
.inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%; 
  border: 10px solid rgb(17, 204, 229);
  background-color: black;
}
.inside {
  background: black;
  line-height: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
}
.outside {  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
  cursor: pointer;
}
.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.front {
  background-color: black;
}
.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, black 30%);
}
.stars{
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 13px;

}
.stars2{
  height: 50px;
  width: 100%;
  margin-top: 135%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.ab{
  height: 30px;
  width: 50px;
}
.wish{
  height: 200px;
  color: goldenrod;
  font-weight: bolder;
  font-size: 300%;
  position: relative;
  top: 100px;
}
.cake {
  width: 100%;
  position: absolute;
  top: 450px;
}
.top-layer,
.middle-layer,
.bottom-layer {
  height: 100px;
  width: 300px;
  background-repeat: repeat;
  background-size: 60px 100px;
  background-position: 28px 0;
  background-image: linear-gradient(
      transparent 50px,
      white 50px,
      white 60px,
      transparent 60px
    ),
    radial-gradient(circle at 30px 5px, white 30px, #f88094 31px);
  border-radius: 10px 10px 0 0;
  position: relative;
  margin: auto;
}
.middle-layer {
  transform: scale(0.89);
  top: 6px;
}
.top-layer {
  transform: scale(0.75);
  top: 26px;
}
.candle {
  height: 70px;
  width: 15px;
  background: repeating-linear-gradient(
    45deg,
    magenta 0,
    magenta 5px,
    white 5px,
    white 10px
  );
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 259px;
}
.candle:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 16px;
  background-color: #ffa500;
  border-radius: 0 50% 50% 50%;
  bottom: 70px;
  transform: rotate(45deg);
  left: -1px;
} 
p{
  color: lightpink;
  font-size: 200%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}